<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Compose Songs</title>
  </head>
  <body>
    <a href="/">home</a>
    try a for each hbs
    {{data}}





    <h1>Time to write a song!</h1>

    <form class="" action="/allsongs" method="post">
      <label for="">Song Title</label>
      <input type="text" name="song_title" value="" required>
      <p>Line 1:</p>
      <input type="text" name="line_one" value="" required>
      <p>Line 1:</p>
      <input type="text" name="line_two" value="" required>
      <p>Line 1:</p>
      <input type="text" name="line_three" value="" required>
      <p>Line 1:</p>
      <input type="text" name="line_four" value="" required>
      <button type="submit">Submit Lyrics</button>
    </form>
  </body>
</html>
