<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Practice Deploying</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    {{msg}}
    <h1>Welcome to Bonn's Site</h1>
    <h2>See what Bonn has been up to</h2>

    <form class="" action="/sign-up" method="post">
      <label for="">Username</label>
      <input type="text" name="username"  value="">
      <label for="">Password</label>
      <input type="text" name="password"  value="">
      <button type="submit">Submit</button>
    </form>


  </body>
</html>
